body {
  margin: 0;
  background-image: url('assets/sub-background.png');
  background-color: #fff;
  background-repeat: repeat-x;
}

.container {
  margin-left: 8%;
  margin-right: 8%; 
  background-color: white;
}


#main-header {
  position: relative;
  background-color: white;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #FFAF03;
  padding: 20px 2.3% 25px 2.3%;
}

      #logo {
        width: 31%;
      }

      .twitter {
        position: absolute;
        right: 3%;
        top: 14%;
        width: 26px;
        height: 26px;
      }
      
      #twitter-img {
        width: 26px;
        height: 26px;
        background-image: url('./assets/twitter_grey.png');
      }
      
      #twitter-img:hover {
        background-image: url('./assets/twitter_black.png');
      }
      
      .FB {
        position: absolute;
        right: 7%;
        top: 14%;
        width: 26px;
        height: 26px;
      }
      
      #FB-img {
        width: 26px;
        height: 26px;
        background-image: url('./assets/FB_grey.png');
      }
      
      #FB-img:hover {
        background-image: url('./assets/FB_black.png');
      }


#nav {
  font-size: 18px;
  font-family: 'Bebas Neue', cursive;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  background-color: #FFAF03;
  padding: 20px 2.3% 20px 2.3%;
  margin: 0;
}

      .link {
        font-weight: bold;
        text-decoration: inherit;
        color: inherit;
      }

      .Link:visited {
        color: inherit;
      }

      #nav > li {
        display: block;
        float: left;
        padding: 0 20px;
        color: white;
      }

      #nav > li:hover {
        color: black;
        cursor: pointer;
      }



#carousel {
  height: auto;
}



#slideshow-footer {
  padding-left: 2.3%;
  padding-right: 2.3%;
  height: 65px;
  background-color: white;
}

#founded {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slide {
  width: 100%;
  padding: 0;
}

.image-item {
  width: auto;  
}

.slide-image {
  width: 100%;  
}

#slideshow-footer > div {
  height: 65px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
}

#founded > p {
  width: 95%;
  margin: 30 0 0 0;
  line-height: 22px;
  text-align: center;
}

.sub-header {
  margin: 0 2.3% 0 2.3%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.meet-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  list-style: none;
  list-style-type: none;
  padding: 20px 2.3% 20px 2.3%;
  background-color: white;

}

.meet-menu > li {
  max-width: 284px; 
}

.meet-menu li > div {
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ffaf03;

}

.meet-menu > li > div p {
  font-size: 22px;
  color: #555;
  text-align: center;
}

.meet-menu > li > p {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  line-height: 21px;
}

.meet-menu > li > div img {
  max-width: 284px;
}

#blog {
  width: 62%;
  margin-left: 2.3%;
  font-family: 'Bebas Neue', cursive;
  color: #2a2D32;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 35px;
  margin-bottom: 20px;

}

.blog-item {
  width: 100%;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #eee;
}

.title {
  color: #555
}

.date {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  color: #FFAF03;
}

.main-section {
  margin-left: 2.3%;
  margin-right: 2.3%;
  font-family: 'Bebas Neue', cursive;
  color: #2a2D32;
  padding-bottom: 30px;
}

.main-section > header {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
  margin-bottom: 10px;
}

.main-section > ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 30px;
}

.main-section > ul > li {
  padding-top: 20px;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.main-section > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-section > footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

#two-column {
  display: flex;
  justify-content: space-between;
}

#two-column h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  color:#2a2D32;
  margin: 0;
}

#two-column > div{
  width: 47%;
  padding-right: 30px;
}

#two-column p {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  line-height: 21px;
  padding-bottom: 21px;
  margin: 0;
}

#two-column h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
  color: #555;
}







@media only screen and (max-width: 1065px) {
  body {
    background-image: none;
  }

  .container {
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {

  #main-header {
    padding: 12px 2.3% 12px 2.3%;
  }
  .twitter {
    position: absolute;
    right: 3%;
    top: 22%;
    width: 26px;
    height: 26px;
  }

  .FB {
    position: absolute;
    right: 15%;
    top: 22%;
    width: 26px;
    height: 26px;
  }

  #slideshow-footer {
    height: 20px;
  }

  #slideshow-footer > div {
    height: 20px;
  }

  #nav {
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
  }

  #logo {
    width: 45%;
  }

  #two-column {
    display: inline;
  }

  #two-column > div {
    width: 100%;
  }

}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
